/* records.component.scss */
.records-container {
    padding: 20px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    .records-table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 10px;
        border: 1px solid #D4DBE3;
        text-align: left;
      }
  
      th {
        background-color: #D4DBE3;
      }
    }
  }
  