<body>
  <h1>XYZ Hospitals</h1>
  <nav>
    <ul>
      <li><a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">Forms</a></li>
      <li><a routerLink="/home" routeLinkActive='active' ariaCurrentWhenActive="page"> Home </a> </li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a></li>  
      <li *ngIf="authService.isAuthenticated()"><a routerLink="/records" routerLinkActive="active" ariaCurrentWhenActive="page">Records</a></li>
      <li *ngIf="authService.isAuthenticated()"><a routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a></li>
    </ul>
  </nav>

  <!-- The routed views render in the <router-outlet> -->
  <router-outlet></router-outlet>
</body>
